In [3]:
nameList = ['neha','Suchit','sumit','sunil']

In [4]:
nameList

['neha', 'Suchit', 'sumit', 'sunil']

In [5]:
paranamlist = sc.parallelize(nameList,2)

In [6]:
paranamlist.collect()

['neha', 'Suchit', 'sumit', 'sunil']

In [7]:
paranamlist.first()

'neha'

In [8]:
rdd = sc.textFile('sam.txt')
rdd.collect()

['Sdkjhgdssj dsjfhjFFjdnsvb  efhjfbfbvdjb  qejkfhbbabfen',
 'xmnx',
 'nvxjn',
 'vbnc']

In [9]:
rdd.take(1)

['Sdkjhgdssj dsjfhjFFjdnsvb  efhjfbfbvdjb  qejkfhbbabfen']

In [10]:
def func(lines):
    lines.lower()
    lines.split()
    return lines
rddnew = rdd.map(func)

In [11]:
rddnew.take(5)

['Sdkjhgdssj dsjfhjFFjdnsvb  efhjfbfbvdjb  qejkfhbbabfen',
 'xmnx',
 'nvxjn',
 'vbnc']

In [12]:
rddFlat= rdd.flatMap(func)

In [13]:
rddFlat.take(5)

['S', 'd', 'k', 'j', 'h']

In [14]:
import re
filterrdd = rddFlat.filter(lambda x : x.startswith('s'))
filterrdd.distinct().take(5)

['s']

In [15]:
rdd_mapped = rddFlat.map(lambda x:(x,1))
rdd_grouped = rdd_mapped.groupByKey()
rdd_frequency = rdd_grouped.mapValues(sum).map(lambda x: (x[1],x[0])).sortByKey(False)
rdd_frequency.take(10)

[(9, 'j'),
 (8, 'b'),
 (6, 'f'),
 (6, 'n'),
 (5, 'd'),
 (5, ' '),
 (4, 'h'),
 (4, 's'),
 (4, 'v'),
 (3, 'e')]

In [16]:
diab_df= spark.read.csv('diabetes.csv' ,inferSchema = True ,header = True)

In [17]:
diab_df.show(10)

+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
|Pregnancies|Glucose|BloodPressure|SkinThickness|Insulin| BMI|DiabetesPedigreeFunction|Age|Outcome|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
|          6|    148|           72|           35|      0|33.6|                   0.627| 50|      1|
|          1|     85|           66|           29|      0|26.6|                   0.351| 31|      0|
|          8|    183|           64|            0|      0|23.3|                   0.672| 32|      1|
|          1|     89|           66|           23|     94|28.1|                   0.167| 21|      0|
|          0|    137|           40|           35|    168|43.1|                   2.288| 33|      1|
|          5|    116|           74|            0|      0|25.6|                   0.201| 30|      0|
|          3|     78|           50|           32|     88|31.0|                   0.248| 26|      1|
|         10|    115|            0|            0|      0|35.3|                   0.134| 29|      0|
|          2|    197|           70|           45|    543|30.5|                   0.158| 53|      1|
|          8|    125|           96|            0|      0| 0.0|                   0.232| 54|      1|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
only showing top 10 rows

In [18]:
diab_df.printSchema()

root
 |-- Pregnancies: integer (nullable = true)
 |-- Glucose: integer (nullable = true)
 |-- BloodPressure: integer (nullable = true)
 |-- SkinThickness: integer (nullable = true)
 |-- Insulin: integer (nullable = true)
 |-- BMI: double (nullable = true)
 |-- DiabetesPedigreeFunction: double (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Outcome: integer (nullable = true)

In [19]:
diab_df.describe('Glucose').show()

+-------+-----------------+
|summary|          Glucose|
+-------+-----------------+
|  count|              768|
|   mean|     120.89453125|
| stddev|31.97261819513622|
|    min|                0|
|    max|              199|
+-------+-----------------+

In [20]:
diab_df.filter(diab_df.Outcome == '1').count()

268

In [21]:
diab_df.registerTempTable('diabetes_tb')

In [22]:
sqlContext.sql('select * from diabetes_tb').show()

+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
|Pregnancies|Glucose|BloodPressure|SkinThickness|Insulin| BMI|DiabetesPedigreeFunction|Age|Outcome|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
|          6|    148|           72|           35|      0|33.6|                   0.627| 50|      1|
|          1|     85|           66|           29|      0|26.6|                   0.351| 31|      0|
|          8|    183|           64|            0|      0|23.3|                   0.672| 32|      1|
|          1|     89|           66|           23|     94|28.1|                   0.167| 21|      0|
|          0|    137|           40|           35|    168|43.1|                   2.288| 33|      1|
|          5|    116|           74|            0|      0|25.6|                   0.201| 30|      0|
|          3|     78|           50|           32|     88|31.0|                   0.248| 26|      1|
|         10|    115|            0|            0|      0|35.3|                   0.134| 29|      0|
|          2|    197|           70|           45|    543|30.5|                   0.158| 53|      1|
|          8|    125|           96|            0|      0| 0.0|                   0.232| 54|      1|
|          4|    110|           92|            0|      0|37.6|                   0.191| 30|      0|
|         10|    168|           74|            0|      0|38.0|                   0.537| 34|      1|
|         10|    139|           80|            0|      0|27.1|                   1.441| 57|      0|
|          1|    189|           60|           23|    846|30.1|                   0.398| 59|      1|
|          5|    166|           72|           19|    175|25.8|                   0.587| 51|      1|
|          7|    100|            0|            0|      0|30.0|                   0.484| 32|      1|
|          0|    118|           84|           47|    230|45.8|                   0.551| 31|      1|
|          7|    107|           74|            0|      0|29.6|                   0.254| 31|      1|
|          1|    103|           30|           38|     83|43.3|                   0.183| 33|      0|
|          1|    115|           70|           30|     96|34.6|                   0.529| 32|      1|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
only showing top 20 rows

In [24]:
sqlContext.sql('select max(BloodPressure) from diabetes_tb ').show()

+------------------+
|max(BloodPressure)|
+------------------+
|               122|
+------------------+

In [25]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *

In [26]:
sqlContext = SQLContext(sc)

In [27]:
df = sqlContext.read.load('50_Startups.csv',format ='com.databricks.spark.csv',header = 'true' ,inferSchema = 'true' ,nullValue = 'NA' )

In [28]:
df.printSchema()

root
 |-- R&D Spend: double (nullable = true)
 |-- Administration: double (nullable = true)
 |-- Marketing Spend: double (nullable = true)
 |-- State: string (nullable = true)
 |-- Profit: double (nullable = true)

In [29]:
df1 = (df.withColumnRenamed('Administration','Admin'))

In [30]:
df1.printSchema()

root
 |-- R&D Spend: double (nullable = true)
 |-- Admin: double (nullable = true)
 |-- Marketing Spend: double (nullable = true)
 |-- State: string (nullable = true)
 |-- Profit: double (nullable = true)

In [31]:
df1.describe().show()

+-------+-----------------+------------------+------------------+----------+------------------+
|summary|        R&D Spend|             Admin|   Marketing Spend|     State|            Profit|
+-------+-----------------+------------------+------------------+----------+------------------+
|  count|               50|                50|                50|        50|                50|
|   mean|73721.61559999999|121344.63959999995|211025.09780000005|      null|112012.63920000002|
| stddev|45902.25648230754|28017.802755488683|122290.31072584528|      null|40306.180337650534|
|    min|              0.0|          51283.14|               0.0|California|           14681.4|
|    max|         165349.2|         182645.56|          471784.1|  New York|         192261.83|
+-------+-----------------+------------------+------------------+----------+------------------+

In [34]:
df2 = df1.select("R&D Spend","Admin" ,"Marketing Spend" ,"State" , "Profit").distinct().show()

+---------+---------+---------------+----------+---------+
|R&D Spend|    Admin|Marketing Spend|     State|   Profit|
+---------+---------+---------------+----------+---------+
|153441.51|101145.55|      407934.54|   Florida|191050.39|
| 94657.16|145077.58|      282574.31|  New York|125370.37|
| 55493.95|103057.49|      214634.81|   Florida| 96778.92|
| 93863.75|127320.38|      249839.44|   Florida|141585.52|
|  1315.46|115816.21|      297114.46|   Florida| 49490.75|
|130298.13|145530.06|      323876.68|   Florida| 155752.6|
| 76253.86| 113867.3|      298664.47|California|118474.03|
| 38558.51| 82982.09|       174999.3|California| 81005.76|
| 131876.9| 99814.71|      362861.36|  New York|156991.12|
|142107.34| 91391.77|      366168.42|   Florida|166187.94|
| 46014.02| 85047.44|      205517.64|  New York| 96479.51|
| 28754.33|118546.05|      172795.67|California| 78239.91|
|  72107.6|127864.55|      353183.81|  New York|105008.31|
| 15505.73| 127382.3|       35534.17|  New York| 69758.98|
|   542.05| 51743.15|            0.0|  New York| 35673.41|
| 78389.47|153773.43|      299737.29|  New York|111313.02|
| 67532.53|105751.03|      304768.73|   Florida|108733.99|
| 165349.2| 136897.8|       471784.1|  New York|192261.83|
| 23640.93| 96189.63|      148001.11|California| 71498.49|
| 63408.86|129219.61|       46085.25|California| 97427.84|
+---------+---------+---------------+----------+---------+
only showing top 20 rows

In [35]:
from pyspark.sql.functions import asc
sort_df = df1.sort(asc("Profit"))

In [36]:
sort_df.show()

+---------+---------+---------------+----------+--------+
|R&D Spend|    Admin|Marketing Spend|     State|  Profit|
+---------+---------+---------------+----------+--------+
|      0.0| 116983.8|       45173.06|California| 14681.4|
|   542.05| 51743.15|            0.0|  New York|35673.41|
|      0.0|135426.92|            0.0|California|42559.73|
|  1315.46|115816.21|      297114.46|   Florida|49490.75|
|  1000.23|124153.04|        1903.93|  New York|64926.08|
| 22177.74|154806.14|       28334.72|California|65200.33|
| 15505.73| 127382.3|       35534.17|  New York|69758.98|
| 23640.93| 96189.63|      148001.11|California|71498.49|
| 27892.92| 84710.77|      164470.71|   Florida|77798.83|
| 28754.33|118546.05|      172795.67|California|78239.91|
| 38558.51| 82982.09|       174999.3|California|81005.76|
| 20229.59| 65947.93|       185265.1|  New York|81229.06|
| 44069.95| 51283.14|      197029.42|California|89949.14|
| 28663.76|127056.21|      201126.82|   Florida|90708.19|
| 46014.02| 85047.44|      205517.64|  New York|96479.51|
| 46426.07|157693.92|      210797.67|California| 96712.8|
| 55493.95|103057.49|      214634.81|   Florida|96778.92|
| 63408.86|129219.61|       46085.25|California|97427.84|
| 61136.38|152701.92|       88218.23|  New York|97483.56|
| 61994.48|115641.28|       91131.24|   Florida|99937.59|
+---------+---------+---------------+----------+--------+
only showing top 20 rows

In [43]:
sort_df = sort_df.dropDuplicates(["State"])

In [44]:
sort_df.count()

3

In [45]:
sort_df.show()

+---------+---------+---------------+----------+---------+
|R&D Spend|    Admin|Marketing Spend|     State|   Profit|
+---------+---------+---------------+----------+---------+
|119943.24|156547.42|      256512.92|   Florida|132602.65|
| 44069.95| 51283.14|      197029.42|California| 89949.14|
|144372.41|118671.85|      383199.62|  New York|182901.99|
+---------+---------+---------------+----------+---------+

In [61]:
from pyspark.sql import SparkSession
spark =SparkSession.builder.appName('Food inspection').getOrCreate()

In [67]:
from pyspark.ml.clustering import KMeans

In [76]:
dataset = spark.read.csv("50_Startups.csv",header = True ,inferSchema = True)
dataset.head()

Row(R&D Spend=165349.2, Administration=136897.8, Marketing Spend=471784.1, State='New York', Profit=192261.83)

In [77]:
dataset.describe().show()

+-------+-----------------+------------------+------------------+----------+------------------+
|summary|        R&D Spend|    Administration|   Marketing Spend|     State|            Profit|
+-------+-----------------+------------------+------------------+----------+------------------+
|  count|               50|                50|                50|        50|                50|
|   mean|73721.61559999999|121344.63959999995|211025.09780000005|      null|112012.63920000002|
| stddev|45902.25648230754|28017.802755488683|122290.31072584528|      null|40306.180337650534|
|    min|              0.0|          51283.14|               0.0|California|           14681.4|
|    max|         165349.2|         182645.56|          471784.1|  New York|         192261.83|
+-------+-----------------+------------------+------------------+----------+------------------+

In [78]:
dataset.columns

['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit']

In [79]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

In [84]:
feat_cols = ['R&D Spend', 'Administration', 'Marketing Spend', 'Profit']

In [85]:
vec_assembler = VectorAssembler(inputCols = feat_cols , outputCol='features')
final_data = vec_assembler.transform(dataset)

In [86]:
from pyspark.ml.feature import StandardScaler

In [87]:
scaler = StandardScaler(inputCol = 'features' , outputCol= 'scaledFeatures' ,withStd= True , withMean = False)

In [89]:
scalerModel = scaler.fit(final_data)

In [90]:
cluster_final_data = scalerModel.transform(final_data)

In [91]:
kmeans3 =KMeans(featuresCol='scaledFeatures',k=3)
kmeans2 =KMeans(featuresCol='scaledFeatures',k=2)

In [92]:
model_k3 = kmeans3.fit(cluster_final_data)
model_k2 = kmeans2.fit(cluster_final_data)

In [94]:
wssse_k3 = model_k3.computeCost(cluster_final_data)
wssse_k2 = model_k2.computeCost(cluster_final_data)

In [95]:
print("with K=3")
print("within set of sum squared errors =" + str(wssse_k3))
print("with K=2")
print("within set of sum squared errors =" + str(wssse_k2))

with K=3
within set of sum squared errors =92.1889190927387
with K=2
within set of sum squared errors =106.49052963705823

In [97]:
model_k3.transform(cluster_final_data).groupBy("prediction").count().show()

+----------+-----+
|prediction|count|
+----------+-----+
|         1|   19|
|         2|    7|
|         0|   24|
+----------+-----+

In [99]:
model_k2.transform(cluster_final_data).groupBy("prediction").count().show()

+----------+-----+
|prediction|count|
+----------+-----+
|         1|   24|
|         0|   26|
+----------+-----+